@import url('https://fonts.googleapis.com/css2?family=New+Rocker&family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #200B36;
    font-family: 'Montserrat', sans-serif;
    overflow: hidden;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background-color: #200B36;
}

::-webkit-scrollbar-thumb {
    background-color: #5D2884;
}

nav {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 250px;
    padding: 10px 14px;
    background-color: #160627;
    border-right: 1px solid #5D2884;
    transition: .3s ease;
}

nav.close {
    width: 73px;
}

nav .logo-name {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    gap: .5rem;
    border-radius: 40px;
}

nav .logo-name img {
    width: 60px;
    object-fit: cover;
}

nav .logo-name .logo_name {
    display: flex;
    justify-content: center;
    font-size: 50px;
    color: #fff;
    transition: .2s ease;
    font-family: 'New Rocker', sans-serif;
}

nav.close .logo_name {
    opacity: 0;
    pointer-events: none;
}

nav .menu-items {
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

nav .text{
    padding-top: 5rem;
    display: flex;
    justify-content: center;
    color: #fff;
}

nav.close .text{
    opacity: 0;
    pointer-events: none;
}

.menu-items li {
    list-style: none;
}

.menu-items li a {
    display: flex;
    align-items: center;
    height: 50px;
    text-decoration: none;
    position: relative;
}

.nav-links li a:hover:before {
    content: "";
    position: absolute;
    left: -7px;
    height: 5px;
    width: 5px;
    border-radius: 50%;
    background-color: #5D2884;
}

.menu-items li a i {
    font-size: 24px;
    min-width: 45px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
}

.menu-items li a .link-name {
    font-size: 18px;
    font-weight: 400;
    color: #fff;
    transition: .2s ease;
}

nav.close li a .link-name {
    opacity: 0;
    pointer-events: none;
}

.nav-links li a:hover i,
.nav-links li a:hover .link-name {
    color: #5D2884;
}


/* Quiz */

.quiz {
    position: relative;
    top: 30px;
    left: 250px;
    width: calc(100% - 250px);
    transition: .3s ease;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
}

nav.close~.quiz {
    left: 73px;
    width: calc(100% - 73px);
}

.quiz .top {
    position: fixed;
    top: 20px;
    left: 270px;
    display: flex;
    width: auto;
    justify-content: center;
    align-items: center;
    padding: 8px 10px 8px 10px;
    border-radius: 10px;
    background-color: #5D2884;
    transition: .5s ease;
    z-index: 10;
}

nav.close~.quiz .top {
    left: 93px;
    width: auto;
}

.quiz .top .sidebar-toggle {
    font-size: 26px;
    color: #fff;
    cursor: pointer;
}

.quiz h1 {
    color: #FFF;
    font-family: 'New Rocker', sans-serif;
}

.progress {
    height: 10px;
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
}
.progress--bar {
    background-color: #5D2884;
    height: 100%;
    transition: all ease 1s;
}

.questionArea {
    height: 700px;
    max-width: 500px;
    width: 100%;
    text-align: center;
}

.question {
    color: #FFF;
    font-size: 25px;
    margin: 20px 0;
    font-family: 'New Rocker', sans-serif;
}
.option {
    display: flex;
    align-items: center;
    height: 40px;
    background-color: #5D2884;
    border-radius: 10px;
    margin-bottom: 5px;
    color: #FFF;
    font-size: 16px;
    cursor: pointer;
}
.option span {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    border-radius: 15px;
    margin-left: 5px;
    margin-right: 10px;
    background-color: #200B36;
    color: #FFF;
}
.option:hover {
    background-color: #5600b3;
    transition: all ease .3s;
}

.scoreArea {
    background-color: #5e2884af;
    padding: 20px;
    border-radius: 20px;
    margin: 10px;
    text-align: center;
}

.Text {
    font-size: 16px;
    color: #fff;
    margin-bottom: 10px;
}

.scoreArea button {
    border: 0;
    border-radius: 10px;
    background-color: #200B36;
    color: #CCC;
    padding: 10px;
    margin-top: 20px;
    cursor: pointer;
}
.scoreArea button:hover {
    background-color: #5600b3;
}
