/* Fonte */
@import url('https://fonts.googleapis.com/css2?family=New+Rocker&family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

/* Configurando a página */
:root {
    --tran-05: all 0.5s ease;
    --tran-03: all 0.3s ease;
    --tran-03: all 0.2s ease;
}

body {
    height: 100vh;
    background-color: #200B36;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background-color: #200B36;
}

::-webkit-scrollbar-thumb {
    background-color: #5D2884;
}

nav {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 250px;
    padding: 10px 14px;
    background-color: #160627;
    border-right: 1px solid #5D2884;
    transition: var(--tran-05);
}

nav.close {
    width: 73px;
}

nav .logo-name {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    gap: .5rem;
    border-radius: 40px;
}

nav .logo-name img {
    width: 60px;
    object-fit: cover;
}

nav .logo-name .logo_name {
    display: flex;
    justify-content: center;
    font-size: 50px;
    color: #fff;
    transition: .2s ease;
    font-family: 'New Rocker', sans-serif;
}

nav.close .logo_name {
    opacity: 0;
    pointer-events: none;
}

nav .menu-items {
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

nav .text{
    padding-top: 5rem;
    display: flex;
    justify-content: center;
    color: #fff;
}

nav.close .text{
    opacity: 0;
    pointer-events: none;
}

.menu-items li {
    list-style: none;
}

.menu-items li a {
    display: flex;
    align-items: center;
    height: 50px;
    text-decoration: none;
    position: relative;
}

.nav-links li a:hover:before {
    content: "";
    position: absolute;
    left: -7px;
    height: 5px;
    width: 5px;
    border-radius: 50%;
    background-color: #5D2884;
}

.menu-items li a i {
    font-size: 24px;
    min-width: 45px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
}

.menu-items li a .link-name {
    font-size: 18px;
    font-weight: 400;
    color: #fff;
    transition: .2s ease;
}

nav.close li a .link-name {
    opacity: 0;
    pointer-events: none;
}

.nav-links li a:hover i,
.nav-links li a:hover .link-name {
    color: #5D2884;
}